* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: syhumms-ui, -apple-syhumms, BlinkMacSyhummsFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    width: auto;
    height: 67px;
    background-color: rgb(52, 63, 141);
    justify-content: space-between;
}
.title {
    display: flex;
    align-items: center;
    margin: 5px;
    width: 187px;
}
p {
	font-family: "DM Sans", sans-serif;
}
h1 {
	font-family: "Rubik", sans-serif;
}
h2 {
	font-family: "Rubik", sans-serif;
}
a {
	font-family: "Rubik", sans-serif;
}
.title img {
    height: 60px;
    margin-left: 17px;
}
.right_container {
    display: flex;
}
.hdr_nav_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20pc;
    color: white;
}
.hdr_nav_container span:hover {
    border-bottom: 2px solid white;
    transition: 0.1s;
}
.hdr_nav_container a {
    color: white;
    text-decoration: none;
    font-size: 20px;

}
.search_container {
    background-color: none;
    display: block;
    position: relative;
    width: 17pc;
}
.search_container input {
    position: absolute;
    top: 1.2pc;
    width: 15pc;
    padding: 7px;
    border-radius: 3px;
    border: none;
}
footer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(52, 63, 141);
    height: 226px;
    margin-top: 10px;
    padding: 20px 0 20px 0;
}
footer p {
    color: white;
    font-size: 17px;
    width: 25cm;
}

.navbar {
    overflow: hidden;
    background-color: #343F8D;
    z-index: 1;
}

.NU_ICON {
    height: 73px;
    padding: 10px 10px;
    float: left;
}

.strand_drpdwn {
    overflow: hidden;
    float: left;
}

.strand_drpdwn .strand_drpdwn_button{
    font-size: 17px;
    border:none;
    background-color: #343F8D;
    color: white;
    margin: 0px;
    padding: 25px 22px;
    font-weight: bold;
}

.strand_drpdwn_button:hover{
    background-color:#28306d;
}

.strand_drpdwn_content{
    background-color: #b8b8b8;
    position: absolute;
    display: none;
    z-index: 2;
    min-width: 107px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.strand_drpdwn_content a{
    float: none;
    padding: 25px 22px;
    display: block;
    text-align: left;
    text-decoration: none;
    color: black;
}

.strand_drpdwn:hover .strand_drpdwn_content {
    display: block;
}

.strand_drpdwn_content a:hover{
    background-color: #8a8a8a;
}
.navbutton{
	padding: 25px 22px;
	background-color: #343F8D;
	color: white;
	font-size: 17px;
	margin: 0px;
	border: none;
	font-weight: bold;
}
.navbutton:hover{
	background-color:#28306d;
}
.navbutton a{
	text-decoration: none;
	color: white;
}
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  width: 95%;
  margin: auto;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}
.fac_content {
  position: absolute; /* Position the background text */
  bottom: 382px; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(254, 212, 29, 0.8); /* Black background with 0.5 opacity */
  color: #343F8D; /* Grey text */
  width: 100%; /* Full width */
  padding: 40px; /* Some padding */
  float: right;
  right: 0;
  line-height: 1.4;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-family: "DM Sans", sans-serif;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #343F8D;
  padding: 5px 16px;
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 20%;
  font-family: "Rubik", sans-serif;
}
.column2 {
	float: right;
	width: 20%;
	font-family: "Rubik", sans-serif;
}
/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


